﻿@model List<BookViewModel>
@{
    ViewData["Title"] = "Index";

}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Year</th>
            <th>ISNB</th>
            <th>Weight</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.ISBN</td>
                <td>@book.Weight</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>

